@page
@model Swifty.Web.Pages.SkillBoard.IndexModel
@{
    ViewData["Title"] = "Skill Board";
}

@* ToDo: Convert these to blue 'bubbles' and fit across the page evenly *@
@* Tab Headers *@
<div class="tab">
    @foreach (var skillArea in Model.IndexViewModel.SkillsByArea)
    {
        <button class="tablinks" onclick="openTab(event, '@skillArea.Key.Id')">@skillArea.Key.Name</button>
    }
</div>

@* ToDo: Style panels so they look better. Change background slightly on hover. Fill entire page rather than centre only *@
@* Tab Content *@
@foreach (var skillArea in Model.IndexViewModel.SkillsByArea)
{
    <div id="@skillArea.Key.Id" class="tabcontent">

        <div class="container-fluid">
            <div class="row">

                @foreach (var skillLevel in skillArea.Value.Keys)
                {
                    <div class="col">

                        <div style="text-align:center;"><h2>@skillLevel.Value</h2><hr /></div>

                        @foreach (var skill in skillArea.Value[skillLevel])
                        {
                            <div class="card-group">
                                <div class="card mb-4">
                                    <div class="card-body">@skill.Detail</div>
                                    <div class="card-footer">
                                        <a class="btn btn-theme float-left" href="~/Setup/Skill/Edit/?id=@skill.Id" target="_blank"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-theme float-right" href="~/Setup/Skill/Delete/?id=@skill.Id" target="_blank"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

    </div>
}


