@page
@model Swifty.Web.Pages.SkillBoard.IndexModel
@{
    ViewData["Title"] = "Skill Board";
}

@* Tab Headers *@
<div class="tab">
    @foreach (var skillArea in Model.IndexViewModel.SkillsByArea)
    {
        <button class="tablinks" onclick="openTab(event, '@skillArea.Key.Id')">@skillArea.Key.Name</button>
    }
</div>

@* Tab Content *@
@foreach (var skillArea in Model.IndexViewModel.SkillsByArea)
{
    <div id="@skillArea.Key.Id" class="tabcontent">

        <div class="container">
            <div class="row">

                @foreach (var skillLevel in skillArea.Value.Keys)
                {
                    <div class="col">
                        <b>@skillLevel.Value</b>

                        @foreach (var skill in skillArea.Value[skillLevel])
                        {
                            <p>@skill.Detail</p>
                        }
                    </div>
                }
            </div>
        </div>

    </div>
}


